.fast{
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#themecolors .selector{
    cursor: pointer;
}

#google-btn{
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
}

.cursor{
    cursor: pointer;
}

.img-avatar{
    width: 200px;
    height: 200px;
}

.w100{
    width: 100px;
}

.w140{
    width: 140px;
}

.w200{
    width: 200px;
}

.avatar{
    width: 30px;
    border-radius: 100%;
}

.modal-background{
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.hidden{
    display: none;
}